<div class="btn-group">
  <button type="button" ng-class="classes" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <ng-transclude ng-hide="chosenvalue"></ng-transclude>{{chosenvalue}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="item in _items"><a ng-click="choose(item)">{{item[targetName]}}</a></li>
  </ul>
</div>