/*
Copyright 2016 Northwestern University

Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.
*/
.pkcloud {
    height: 600px;
    width: 100%;
    position: relative;
}
.wordcloud {
  padding: 20px;
}
.progress {
  text-align: center;
}
.progress-bar {
  width: 60%;
}
.buttons {
  padding-top: 25px;
}
.post {
  text-align: left;
  padding: 25px;
}
.posts {
  margin:20px;
}
.user {
  font-weight: bolder;
  color: rgb(78, 42, 132);
  font-size: 16px;
}
.date {
  font-size: 16px;
}
.message {
  padding-left: 20px;
  font-size: 14px;
}
.pkcloud-item:hover {
  border-radius: 3px;
  background: rgb(255, 255, 231);
}
.pkcloud-item {
  font-family:serif;
}

.pkcloud-item-grp-keywords {
  color: rgb(0, 0, 0) !important;
}
.pkcloud-item-grp-persons {
  color: rgb(255, 214, 0) !important;
}
.pkcloud-item-grp-organizations {
  color: rgb(128, 0, 180) !important;
}
.pkcloud-item-grp-locations {
  color: rgb(62, 173, 67) !important;
}
.pkcloud span {
    line-height: 100%;
}

.pkcloud-item-1 {
    font-size: 0.6em;
    color: #080808;
}

.pkcloud-item-2 {
    font-size: 1.0em;
    color: #101010;
}

.pkcloud-item-3 {
    font-size: 2em;
    color: #181818;
}

.pkcloud-item-4 {
    font-size: 2.2em;
    color: #303030;
}

.pkcloud-item-5 {
    font-size: 2.5em;
    color: #282828;
}

.pkcloud-item-6 {
    font-size: 2.8em;
    color: #202020;
}

.pkcloud-item-7 {
    font-size: 3.1em;
    color: #383838;
}

.pkcloud-item-8 {
    font-size: 3.4em;
    color: #404040;
}

.pkcloud-item-9 {
    font-size: 3.7em;
    color: #484848;
}

.pkcloud-item-10 {
    font-size: 4em;
    color: #000000;
}

.pkcloud-item-hidden {
    visibility: hidden;
}

.bar-segment {
  height: 50px;
  width: 200px;
  background-color: #000000;
  margin: 0 auto;
}

.btn-group-vertical input {
  display: none;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
}

.course-id {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.scroll-list {
  max-height: 400px;
  overflow: auto;
  max-width: 80%;
}

.scroll-list label {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
}

.chart-panel {
  float: none;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

/*.bar-plot {
  border: 3px solid black;
  width: 250px;
  text-align: center;
}

.line {
  width: 220px;
  height: 5px;
  background-color: #000000;
  margin: 0 auto;
}*/

.reply-container #like {
  position:absolute;
    right:30px;
    top: 210px;
    border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px;
  opacity: 0.7;
  background-color: #fff;
}

#like:hover {
  color: #fff;
  background-color: #4e2a84;
  border: 1px solid #4e2a84;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
}

.footnote {
  font-size: 12px;
  color: gray;
  font-style: italic;
  text-align: center;
}

.reply-contaier:hover #like {
  display: block;
}

.top {
  border-top: 6px solid black;
}

.liked:hover {
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
}


html, body {
  width : 100%;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}
.header .container {
    width: 150px;
    margin: 0 auto;
    background: #fe634e;
    opacity: 0.8;
    text-align: center;
}
.bg {
    position: relative;
    background: #000;
    height: 100%;
    color: #FFF;
}
.reply-container {
  height: 200px;
}
.reply-box {
  height: 100%;
  overflow: scroll;
  position: relative;
  width: 100%;
}
.reply-input {
  height: 200px !important;
}

body {
  padding-top: 57px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
}

.presto-panel {
  float: none;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 25px;
}
.topic.active {
  /* active selection */
}
.vis-network-tooltip {
  max-width: 70%;
  white-space: pre-wrap !important;
  z-index: 1000;

}
.presto-welcome {
  margin-bottom: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.progress .bar {
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
  }

.rating_segment {
  height: 50px;
  width: 100px;
}
.rating_bar {
  display: none;
}

  .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.alert {
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 250px;
  margin-right: 15px;
}
.panel-heading {
  text-align: center;
  padding-top: 10px;
}
.panel-footer {
  text-align: center;
}

.panel-footer {
  transition: 0.5s linear all;
}

 .panel-primary
 {
  border-color: #4e2a84;
 }

 .panel-heading {
  background: #4e2a84 !important;
  border-color: #4e2a84 !important;
 }
.navbar-inverse .navbar-nav>.active>a{
  background: #4e2a84 !important;
  color: #fff !important;
 }

 .navbar-nav a:hover
 {
  color: #4e2a84 !important;
 }

 .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #4e2a84 !important;
 }

.dropdown-menu-right {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
 .dropdown-menu > li > a:hover {
  color: #fff !important;
 }

.navbar-inverse .navbar-brand:hover {
  color: #4e2a84 !important;
}
@media print {
    /* Your styles here */
}

.bs-callout {
    padding: 20px;
    margin: 10px 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    text-align: left;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
